# Default ignored files
/shelf/
/workspace.xml
HandWriting/app/build/intermediates/project_dex_archive/debug/out/1ce5b7106887c086dacd0ea43ba969d930f4969eb89609b47ca1898a2a94793e_0.jar
HandWriting/app/build/intermediates/project_dex_archive/debug/out/*.jar
